[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/

[Service]
ExecStart={{ default "/usr/bin" .BIN_DIR }}/kubelet
ExecStartPre=-{{ default "/usr/bin" .BIN_DIR }}/kubelet-pre-start.sh
ExecStopPost=-{{ default "/usr/bin" .BIN_DIR }}/kubelet-post-stop.sh
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
