#!/bin/sh
set -e
set -o noglob

readonly K3S="$(builtin command -v k3s)"

for cmd in kubectl crictl ctr; do
  if $K3S -v >/dev/null 2>&1 &&
    ! [ -h /usr/bin/$cmd ]; then
    ln -sf "$K3S" /usr/bin/$cmd
  fi
done

readonly PAUSE_IMAGE='{{ .registryDomain }}:{{ .registryPort }}/{{ .sandboxImage }}'
readonly KUBELET_EXTRA_ARGS='--cgroup-driver=systemd \
{{- if or (not .SEALOS_SYS_KUBE_VERSION) (eq .SEALOS_SYS_KUBE_VERSION "") (not (semverCompare "^1.27.0" .SEALOS_SYS_KUBE_VERSION)) }} \
--container-runtime=remote --pod-infra-container-image={{ .registryDomain }}:{{ .registryPort }}/{{ .sandboxImage }}{{ end }} \
--runtime-request-timeout=15m --container-runtime-endpoint=unix://{{ .SEALOS_SYS_CRI_ENDPOINT }} --image-service-endpoint=unix:///var/run/image-cri-shim.sock'

if curl --retry 3 --insecure "${K3S_URL:-$(kubectl config view --minify -o jsonpath='{.clusters[].cluster.server}')}/version" >/dev/null 2>&1; then
  exec k3s agent --pause-image "$PAUSE_IMAGE" --kubelet-arg "$KUBELET_EXTRA_ARGS"
else
  exec k3s server --pause-image "$PAUSE_IMAGE" --kubelet-arg "$KUBELET_EXTRA_ARGS"
fi
